@{
    Layout = "_Layout";
}
@model Int32
<table border="1" cellpadding="2" cellspacing="2">
    <tr>
        <th>Word</th>
    </tr>
    @foreach (var item in ViewBag.newList)
    {
        <tr>
            <td><a>@Html.ActionLink($"{@item.Word}", "Details", new { @id = @item.Word })</a></td>
        </tr>
    }
</table>
@if (Model - 2 > 0)
{
    <a>@Html.ActionLink($"Page{Model - 2}", $"Index", new { @id = Model - 2 })</a>
}
@if (Model - 2 >= 0 )
{
    <a>@Html.ActionLink($"Previous Page", $"Index", new { @id = Model - 1})</a>
}

<a>@Html.ActionLink($"Current Page", $"Index", new { @id = Model})</a>
<a>@Html.ActionLink($"Next Page", $"Index", new { @id = Model + 1 })</a>
<a>@Html.ActionLink($"Page{Model + 2}", $"Index", new { @id = Model + 2 })</a>

